# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\ST2_Backend_upGrad\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
